@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');



/* General */
body {
	font-family: 'Open Sans';
	line-height: 1.6;
	padding-top: 40px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat';
}

button {
	cursor: pointer;
}


/* Wrapper for nav and banner */
.landing-wrapper {
	height: calc(100vh - 40px);
	display: flex;
	flex-direction: column;
}


/* Navbar */
.navbar {
	padding-top: 0;
	padding-bottom: 0;
	border-bottom: 1px solid #fff;
}

.navbar-brand {
	color:#fff;
}

.navbar-brand:hover {
	color:#fff;
}

.nav-item {
	padding: .6rem;
}

.nav-link {
	color: rgba(255, 255, 255, .8);
	letter-spacing: 2px;
	font-size: 13px;
	text-transform: uppercase;
}

.nav-link:hover {
	color: #fff;
}

.active {
	border-bottom: 1px solid #fff;
}


/* Banner */
.banner {
	flex-grow:1;
	background-attachment: fixed;
	background-image: url('../img/kalen-emsley-98264_gradient.jpg');
	background-size: cover;
	background-position: 50% 50%;
	margin-bottom: 0;
	padding:0;
	display: flex;
	align-items: stretch;
	position: relative;
}

.banner .container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

#title {
	font-family: 'Montserrat';
	color: #fff;
	font-size: 19px;
	text-transform: uppercase;
}

.arrow-image {
	width: 32px;
	height: 32px;
}


/* Content */
#content {
	margin-top: 1rem;
}

.sec_wrap {
	padding: 1.5rem;
	display: flex;
	align-items: center;
}

.sec_wrap div {
	text-align: center;
}

.sec_wrap h3 {
	margin-bottom: 1rem;
}

.sec_header {
	margin-bottom: 1rem;
}

.cards {
	display: flex;
	align-items: stretch;
	margin-top: .5rem;
	margin-bottom: .5rem;
}

.card-img-top {
	width: 100%;
}


/* Footer */
footer {
	font-size: .7rem;
}



/* -----Home----- */
/* Under construction */
#uc {
	background-color: #5cb85c;
	color: #fff;
	text-align: justify;
	padding: 1.5rem;
}



/* -----Product View----- */
.product-image {
	margin: 1rem;
}



/* -----Possible Uses-----*/
/* Natural disaster tabs */
.nd-link.nd-active {
	background-color: #5cb85c; 
	color: white;
}

.list-group-item {
	border: none;
}

.nd-tab {
	display: none;
}
.nd-tab.nd-active {
	display: block;
}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
	#title {
		font-size: 32px;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	#title {
		font-size: 64px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { } 